<div class="home">
    <ng-container *ngFor="let language of languageList">
        <a href="https://nahtanoj-hz.github.io/ng-translations-example/{{language.code}}/"><button class="button">{{language.label}}</button></a>
    </ng-container>
    <div class="heroes">
        <div class="heroes--intro">
            <h3 i18n="site header|An introduction header for this sample@@introductionHeader">Angular Example Translation APP</h3>
            <span i18n="site description|A description example@@introductionDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </div>
        <div class="hero" *ngFor="let hero of heroes$ | async">
            <img class="hero--image" src="{{hero.picture}}" alt="">
            <div class="hero--details">
                <div>
                    <span class="hero--details--label" i18n="site hero name|the label for the hero name@@heroName">Name</span>
                    <span>{{hero.name}}</span>
                </div>
                <div>
                    <span class="hero--details--label" i18n="site hero id|the label for the hero id@@heroId">Id</span>
                    <span>{{hero.id}}</span>
                </div>
                <div>
                    <span class="hero--details--label" i18n="site hero description|the label for the hero description@@heroDescription">Description</span>
                    <span>{{hero.about}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="home--footer" i18n="site footer|footer sample@@footer">
        Made with <span style="color: #e25555;">&#9829;</span> by <a href="https://github.com/Nahtanoj-hz" target="_blank"> Nahtanoj-hz</a>
    </div>
</div>
<router-outlet></router-outlet>