// colors
$white: #fff;
$gray-text: #252525;
$red: #ff2626;
$orange: #ff4100;
$heroes-list-background-color: rgba($orange, 0.5);
$hero-card-background-color: rgba($white, 0.8);

// variables
$base-margin: 20px;
$border-radius: 20px;
$hero-card-width: 800px;
$hero-card-height: 300px;

// Media queries
$break-small: 480px;
$break-medium: 992px;
$break-large: 1200px;

$media-xs: "screen and (max-width: #{$break-small})";
@mixin media-xs {
  @media #{$media-xs} {
    @content;
  }
}

$media-sm: "screen and (min-width: #{$break-small}) and (max-width: #{$break-medium})";
@mixin media-sm {
  @media #{$media-sm} {
    @content;
  }
}

$media-md: "screen and (min-width: #{$break-medium}) and (max-width: #{$break-large})";
@mixin media-md {
  @media #{$media-md} {
    @content;
  }
}

.home {
  position: fixed;
  background-image: url("https://as.com/meristation/imagenes/2019/04/16/noticias/1555431500_663853_1555431594_noticia_normal.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #252525;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -100;
}
